h2 {
    text-align: center
}

.indexhead {
    font-size: 50px;
    color:lightseagreen;
}

.skills-heading {
    text-align: center;
    color:darkslategray;
}

#profilePic {
    width: 200px;
    height:200px;
}
 .img-fluid{
   
    background-size: 100%;
    
 
} 

.pic{
    width:100px;
    height:100px;
}

.footer {
    position: relative;
    /* left: 0; */
     bottom: 0; 
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
    padding-inline-start: 0px;
    
  }


  .portText {
      font-size: 25px;
      color: grey;
  }
  
  .portText2 {
      font-size: 15px;

  }
