h2 {
    text-align: center
}

.indexhead {
    font-size: 50px;
    color:lightseagreen;
    font-family: 'Indie Flower', cursive;
}

.skills-heading {
    text-align: center;
    color:whitesmoke;
    font-family: 'Indie Flower', cursive;
}

#profilePic {
    width: 200px;
    height:350px;
    
}
 .img-fluid{
   
    background-size: 100%;
    
 
} 

.pic{
    width:100px;
    height:100px;
}

.footer {
    position: relative;
    /* left: 0; */
     bottom: 0; 
    width: 100%;
    color: white;
    text-align: center;
    padding:4px;
    font-family: 'Indie Flower', cursive;
    
  }


  .portText {
      font-size: 25px;
      color: black;
      font-family: 'Indie Flower', cursive;
  }
  
  .portText2 {
      font-size: 15px;
      font-family: 'Indie Flower', cursive;
  }

  /* .vertical-text {
      transform: rotate(90deg);
      transform-origin: left top 0; 
      
  } */

  .vertical-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      float: left;
  }


  .command{
      height:200px;
      width:80%;
  }

  .about{
      height:-webkit-fill-available;
      background-image: url("../assets/background3.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      
  }

 .lang1{
    color:whitesmoke;
 }
 h4{
     color:whitesmoke;
 }

 .img:hover{
     opacity:0.2;
 }